

//COLORS
$primary : #9cc2f0;
$success : #004E89;
$choosed : #c6f5dc;
$text-color : #333;
$secondary : #76767A;
$danger : #E52E2E;
$warning : #FF9500;

// @import "~bootstrap/scss/bootstrap.scss";


//CUSTOM INPUT
$input-text-placeholder : #A7BBBD;
$disabled-input : #F4F4F4;




